<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--<properties resource="src/db.properties"/>-->
    <settings>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="safeResultHandlerEnabled" value="false"/>
    </settings>

    <!--<typeAliases>-->
        <!--<typeAlias alias="Employee" type="com.EmployeeInfoConvert.fs.entity.Employee"/>-->
        <!--<typeAlias alias="Dep" type="com.EmployeeInfoConvert.fs.entity.Dep"/>-->
        <!--<typeAlias alias="Position" type="com.EmployeeInfoConvert.fs.entity.Position"/>-->
    <!--</typeAliases>-->
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <!--         <property name="" value=""/> -->
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/emp?useUnicode=true&amp;characterEncoding=Shift-JIS&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/EmployeeInfoConvert/fs/config/mapper/Employee.xml"/>
        <mapper resource="com/EmployeeInfoConvert/fs/config/mapper/Department.xml"/>
        <mapper resource="com/EmployeeInfoConvert/fs/config/mapper/Position.xml"/>
    </mappers>

</configuration>